:root{
    /* VARIABLE COLORS */
    --color1:#F3F7D4;
    --color2:#CBE432;
    --color3:#AE0D7A;
    --color4:#B81484;
    --color5:#340926;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color1);
}

h1{
    font-variant: small-caps;
    color: var(--color5);
    font-style: italic;
    text-align: center;
}

p{
    color:var(--color3);
    text-align: center;
    padding: 20px;
    font-size: larger;
    text-align: center;
    
}

p.lesspadding{
    color:var(--color3);
    text-align: center;
    padding: 7px;
    font-size: larger;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 7px;
    padding: 20px;
    /* width: 70%; */ 
    
}
caption{
    font-style:italic;
    color: var(--color4);
    letter-spacing:2px;
    text-decoration: underline;
    padding: 7px;
}
th{
    font-style:italic;
    font-variant: small-caps;
    color:var(--color5);
}

td{
    border: 1px solid var(--color4);
    vertical-align: top;
    padding: 7px;
    color: var(--color5);
}
header{
    background-color: var(--color3);
    color: var(--color1);
    padding: 7px;
    margin: 7px;
    border: 1px solid var(--color4);
    border-radius: 7px;
    text-align: center;
}
h1.formHeaderh1{
    text-align: left;
    padding-left: 450px;
}

p.formHeaderp{
    text-align: left;
    padding-left: 375px;
}
img{
    border-radius: 7px;
    align-items: center;
    border-radius: 7px;
    max-width: 90%;
    max-height: 750px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

img.floatPic{
    float: right;
    margin-right:80px;
    border-radius: 7px;
    max-width: 45%;
    max-height: 40%;
}

nav{
    background-color: var(--color3);
    color: var(--color1);
    padding: 7px;
    margin: 7px;
    border: 1px solid var(--color4);
    border-radius: 7px;
    text-align: center;
    display:block;
}

nav a{
    text-decoration: none;
    background-color: var(--color5);
    color: var(--color1);
    padding: 7px;
    margin: 7px;
    border: 1px solid var(--color4);
    border-radius: 7px;
}

nav a:hover{
    background-color: var(--color2);
    color: var(--color3);
}


aside h1{
    color: var(--color2);
}

aside p{
    color: var(--color2);
}
aside.top-left-box{
    color:#fff;
    position: absolute;
    top: 27%;
    left: 17%;
    background:#00000098;
    padding:2px 7px 2px 7px;
    margin-right:15px;
    font-size:20px;
}

aside.top-left-box-home{
    color:#fff;
    position: Absolute;
    top: 27%;
    left: 10%;
    background:#00000098;
    padding:2px 7px 2px 7px;
    margin-right:15px;
    font-size:20px;
}

aside.box-home{
    color:#fff;
    position: relative;
    top: 27%;
    left: 0%;
    background:#00000098;
    padding:2px 7px 2px 7px;
    margin-right:15px;
    margin-left:15px;
    font-size:30px;
}

form{
    margin:14px; 
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;

}

td.noborder{
    border:none;
    vertical-align: top;
    padding:7px;
    color:var(--color5);
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

input[type="submit"]{
    background-color: var(--color5);
    color: var(--color1);
    padding: 7px;
    margin: 7px;
    border-radius: 7px;
    text-align: center;
    
}


input[type="submit"]:hover{
    background-color: var(--color2);
    color: var(--color3);
}

input[type="text"], input[type="email"]{
    box-sizing: border-box;
    padding: 7px;
    margin: 7px;
    border-radius: 7px;
    border: 1px solid var(--color4);
}

input[type="text"]:focus{
    background-color: var(--color2);
    color: var(--color3);
}

input[type="text"]:hover{
    background-color: var(--color2);
    color: var(--color3);
}

input[type="email"]:focus{
    background-color: var(--color2);
    color: var(--color3);
}

input[type="email"]:hover{
    background-color: var(--color2);
    color: var(--color3);
}

textarea{
    padding: 7px;
    margin: 7px;
    border: 1px solid var(--color4);
    border-radius: 7px;
}
textarea:focus{
    background-color: var(--color2);
    color: var(--color3);
}

textarea:hover{
    background-color: var(--color2);
    color: var(--color3);
}

div.container{
    text-align: center;
}

ol.myol{
    display:inline-block;
    text-align: left;
}

ul.myul{
    display:inline-block;
    text-align: left;
}

a.aligntext{
    text-align: center;
}

figcaption{
    font-style:italic;
    color: var(--color4);
    letter-spacing:2px;
    padding: 7px;
    margin-left: 20%;
}

.captionPic{
    font-style:italic;
    color: var(--color4);
    letter-spacing:2px;
    padding: 7px;
    margin-left: 32%;
}